body{
    font-family: sans-serif;
}

.logo
{
    display: flex;
    align-content: center;
    height: auto;
    position: relative;
    width:135px;
    font-weight: bold;
}

.subheading{
    position: absolute;
    color:lightskyblue;
    font-size: 20px;
    bottom: 0;
    right: 0;
}

.heading
{
    color:red;
    font-size: 35px;
    font-weight: bolder;
}

.passengerForm
{
    text-align: center;
    width:25%;
    
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.passengerField{
    margin-top: 20px;
    display: flex;
    justify-content:space-between;
    font-size: larger;

}
.passengerField input
{
    outline: black;
}
.passengerField label
{
    font-weight: bold;
}

.RegisterButton
{
    color:white;
    font-weight: bolder;
    font-size:larger;
    margin-top: 30px;
    background-color: lightskyblue;
    width:150px;
    height:35px;
    border-radius: 10%;
}
textarea
{
    width: 140px;
    outline: black;
}


.box
{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.box p{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}